@charset "UTF-8";
.masonry-item--index span.span--fix {
    position:static; padding-bottom:3rem
}
.button--fix {
    position:absolute; right:0; bottom:0;
}
.masonry-item--index img{
	display:block; margin:auto;
}

@media screen and (min-width: 40em) {
    .top-carousel .jcarousel--home b {
        min-height: 3em;
    }
}
.top-carousel .jcarousel--home img {
    min-height:100%;
}