<%- include('../layout/header') -%>

<nav aria-label="您的位置:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="#">首页</a></li>
        <li>
            <span class="show-for-sr">当前: </span> 产业金融
        </li>
    </ul>
</nav>

<h1 class="row column">产业金融</h1>

<div class="row column">
    <div>
        <a class="article-item clearfix" href="detail_cn_article.html">
            <h4>Sapien elit in malesuada semper mi id sollicitudin</h4>
            <p>
                elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentumSapien elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentumSapien elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentum
                <br />基金来源：<b>Lorem ipsum dolor sit amet consectetur</b>
            </p>
        </a>
    </div>
    <div>
        <a class="article-item clearfix" href="detail_cn_article.html">
            <figure style="background-image:url('http://oew2ozpi2.bkt.clouddn.com/10002-ee498315-8fee-4dc8-ba4d-df667f3b5bc0')"></figure>
            <h4>Sapien elit in malesuada semper mi id sollicitudin</h4>
            <p>
                基金来源：<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit</b>
            </p>
        </a>
    </div>
    <div>
        <a class="article-item clearfix" href="detail_cn_article.html">
            <h4>Sapien elit in malesuada semper mi id sollicitudinSapien elit in malesuada semper mi id sollicitudin</h4>
            <p>
                基金来源：<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit</b>
            </p>
        </a>
    </div>
    <div>
        <a class="article-item clearfix" href="detail_cn_article.html">
            <figure style="background-image:url('http://oew2ozpi2.bkt.clouddn.com/10002-ee498315-8fee-4dc8-ba4d-df667f3b5bc0')"></figure>
            <h4>Sapien elit in malesuada semper mi id sollicitudin</h4>
            <p>
                基金来源：<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit</b>
            </p>
        </a>
    </div>
    <div>
        <a class="article-item clearfix" href="detail_cn_article.html">
            <figure style="background-image:url('http://oew2ozpi2.bkt.clouddn.com/10002-ee498315-8fee-4dc8-ba4d-df667f3b5bc0')"></figure>
            <h4>Sapien elit in malesuada semper mi id sollicitudin</h4>
            <p>
                基金来源：<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit</b>
            </p>
        </a>
    </div>
</div>

<div class="list-button row column">
    <a class="button large btnMore">显示更多文章</a>
</div>

<div class="row column bottom-search">
    <h3>啥都没找到？再搜索搜索~</h3>
    <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
            <!--<a class="button">Primary Action</a>
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>-->
            <input type="submit" class="button" value="搜索">
        </div>
    </div>
</div>

<%- include('../layout/footer') -%>