<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="index.html">首页</a></li>
        <li><a href="list_cn.html">商品列表</a></li>
        <li>
            <span class="show-for-sr">Current: </span>商品详情
        </li>
    </ul>
</nav>
<h1 class="row pageHeader">Wonderful万多福美国加州进口巴旦木扁桃仁经典盐焗味168g亚马逊进口直采美国品牌</h1>
<div class="expanded row detail-top">
    <div class="large-6 medium-12 columns">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li><img src="/img/170_200/60dd7658-702b-4787-bc09-4c3a33bf831b.jpg" /></li>
                    <li><img src="/img/170_200/150711-n-ru971-772.jpg" /></li>
                    <li><img src="/img/170_200/city_skyline.jpeg" /></li>
                    <li><img src="/img/170_200/fcfa8905-7145-4b81-acad-255c13ae0221.jpg" /></li>
                    <li><img src="/img/170_200/golden_gate_bridge.jpg" /></li>
                    <li><img src="/img/170_200/horses.jpg" /></li>
                </ul>
            </div>
            <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
            <a href="#" class="jcarousel-control-next right material-icons mi-keyboard_arrow_right"></a>
        </div>
    </div>
    <div class="large-6 medium-12 columns">
        <div class="row detailPrice">
            <div class="medium-12 columns medium-text-left large-text-left">
                单价￥<b class="stat">78945</b>
            </div>
            <div class="row filter-bar filter-bar--sku" id="skuBar">
                <div class="button-group small single">
                    <a class="button checked">原味</a>
                    <a class="button">哈瓦那烧烤味</a>
                    <a class="button">海盐味</a>
                    <a class="button">淡味盐烤</a>
                    <a class="button">熏制风味</a>
                    <a class="button">岩烤味</a>
                    <a class="button">芥末酱油味</a>
                </div>
            </div>
            <div class="row">
                数量 <input type="number" class="input-unstyle" min="1" value="1" />
            </div>
            <p class="row"></p>
            <div class="small-8 small-centered clearfix text-center button-book">
                <a href="/orderConfirm" class="expanded large button">立即定购</a>
            </div>
        </div>
        <p>美国大杏仁(即扁桃仁)是维生素E的食物源之一，也是含维生素最丰富的坚果之一；采用各种炮制方法，风味独特，营养价值丰富，倍受广大消费者欢迎，被誉为"蓝钻石果仁，加州仁上仁"；Blue Diamond蓝钻石是全世界扁桃仁坚果加工和销售公司之一，已有超过百年的历史；精选美国优质原粒扁桃仁，颗颗优质，粒粒纯正；Blue Diamond蓝钻石扁桃仁系列保持始终如一的品质！</p>
    </div>
</div>

<div class="reveal tiny" id="cartAlert" data-reveal>
    <h3>加入购物车成功！</h3>
    <p>
        该商品已成功加入购物车。
    </p>
    <div class="row text-center form-submit-wrap">
        <a href="/cart" class="button">去购物车</a>
        <button class="button secondary" data-close>继续购物</button>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="precautions-outer row column">
    <h3>商品详情</h3>
    <div class="profile-main">
        <img src="/img/list/2e788ac5e180bb9ffd10fbaa3e728b57a9cd6dd2.png" />
        <img src="/img/list/burberry_children_01.png" />
        <img src="/img/list/burberry_children_05.png" />
        <h6>商品说明</h6>
        <p>美国大杏仁(即扁桃仁)是维生素E的食物源之一，也是含维生素最丰富的坚果之一；采用各种炮制方法，风味独特，营养价值丰富，倍受广大消费者欢迎，被誉为"蓝钻石果仁，加州仁上仁"；Blue Diamond蓝钻石是全世界扁桃仁坚果加工和销售公司之一，已有超过百年的历史；精选美国优质原粒扁桃仁，颗颗优质，粒粒纯正；Blue Diamond蓝钻石扁桃仁系列保持始终如一的品质！</p>
        <img src="/img/list/glimpese_img0_v2_m56577569830605808[1].jpg" />
        <img src="/img/list/w_catalog_v2_m56577569831969314.jpg" />
        <h6>品牌简介</h6>
        <p>Blue Diamond是世界上最大的树坚果加工和销售公司。在1910年成立，Blue Diamond从一个小型的加州企业发展成为扁桃仁种植、扁桃仁生产和销售的世界领导者。Blue Diamond扁桃仁精选美国优质原粒扁桃仁，颗颗优质，粒粒纯正。采用烟焗的炮制方法，风味独特，营养价值丰富，倍受广大消费者欢迎。</p>
        <h6>成分</h6>
        <p>扁桃仁，植物油（菜籽油，葵花籽油），白砂糖，食盐，番茄，糖蜜粉（蔗糖糖浆，糖蜜），食醋粉（麦芽糊精，食醋），洋葱，大蒜，食用香料，酵母抽提物，辣椒，芥菜，苹果酸，香辛料，辣椒粉。</p>
        <h6 class="alert">重要说明</h6>
        <p class="alert">Blue Diamond是世界上最大的树坚果加工和销售公司。在1910年成立，Blue Diamond从一个小型的加州企业发展成为扁桃仁种植、扁桃仁生产和销售的世界领导者。Blue Diamond扁桃仁精选美国优质原粒扁桃仁，颗颗优质，粒粒纯正。采用烟焗的炮制方法，风味独特，营养价值丰富，倍受广大消费者欢迎。</p>
    </div>
</div>
<%- include('../layout/footer') -%>