<%- include('../layout/header') -%>
<div id="diancan">
    <div class="row column" id="dishOrderB" data-bind="foreach:products">
        <div>
            <div class="article-item article-item--dish--b clearfix">
                <figure>
                        <img src="http://ww4.sinaimg.cn/bmiddle/81f4d57ely1feq1smlatmj20qo0qo45s.jpg">
                </figure>
                <h4><a data-bind="text: id">Sapien elit in malesuada semper mi id sollicitudin</a></h4>
                <p>Sapien elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentumSapien elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentumSapien elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentum</p>
                <table class="hover listCart dish-list">
                    <tbody data-bind="foreach: prices">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td width="100" data-bind="text: '￥' + price"></td>
                            <td width="150">
                                <button class="button subtract"><i class="material-icons">&#xE15B;</i></button>
                                <b class="quantity"></b>
                                <button class="button add"><i class="material-icons" data-bind="click: $parents[1].addition.bind($data, $index()), clickBubble: false">&#xE145;</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="list-button row column">
        <a class="button large btnMore">显示更多</a>
    </div>

    <div id="finalOrder" class="fixOpts fixOpts--b" data-open="finalOrderDetail">
        <span id="finalTotalB">￥<b>0</b></span>
        <a href="shoppingCart.html">结算</a>
    </div>
</div>
<script>

</script>
<%- include('../layout/footer') -%>