<%- include('../layout/header') -%>
<div class="row expanded column top-carousel">
    <div class="jcarousel jcarousel--home">
        <ul>
            <li>
                <a href="detail_alt.html">
                    <div><img src="./assets/img/170_200/60dd7658-702b-4787-bc09-4c3a33bf831b.jpg" /></div>
                    <b class="lead">
                        Sapien elit in malesuada semper mi id sollicitudin urna fermentumSapien elit in malesuada semper mi, id sollicitudin urna fermentum
                    </b>
                    <span><small>from</small><sup>￥</sup><strong>15678</strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
            <li>
                <a href="detail_alt.html">
                    <div><img src="./assets/img/170_200/horses.jpg" /></div>
                    <b class="lead">
                        Sapien elit in malesuada semper mi id sollicitudin urna fermentum
                    </b>
                    <span><small>from</small><sup>￥</sup><strong>15678</strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
            <li>
                <a href="detail_alt.html">
                    <div><img src="./assets/img/170_200/78faf2d5-173a-4381-a452-8ee49d2b44fd.jpg" /></div>
                    <b class="lead">
                        Sapien elit in malesuada semper mi id sollicitudin urna fermentum
                    </b>
                    <span><small>from</small><sup>￥</sup><strong>15678</strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
            <li>
                <a href="detail_alt.html">
                    <div><img src="./assets/img/170_200/ecba5dd0-b6fb-406e-9b6e-08f7fc8ec60d.jpg" /></div>
                    <b class="lead">
                        Sapien elit in malesuada semper mi id sollicitudin urna fermentum
                    </b>
                    <span><small>from</small><sup>￥</sup><strong>15678</strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
            <li>
                <a href="detail_alt.html">
                    <div><img src="./assets/img/170_200/81971615-b39a-4e76-8eb2-7968f7568219.jpg" /></div>
                    <b class="lead">
                        Sapien elit in malesuada semper mi id sollicitudin urna fermentum
                    </b>
                    <span><small>from</small><sup>￥</sup><strong>75678</strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
            <li>
                <a href="detail_alt.html">
                    <div><img src="./assets/img/170_200/a059d204-c15f-46f8-ad17-c7d40a7c93fb.jpg" /></div>
                    <b class="lead">
                        Sapien elit in malesuada semper mi id sollicitudin urna fermentum
                    </b>
                    <span><small>from</small><sup>￥</sup><strong>5678</strong><i class="fa fa-arrow-circle-o-right"></i></span>
                </a>
            </li>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev material-icons mi-keyboard_arrow_left"></a>
    <a href="#" class="jcarousel-control-next material-icons mi-keyboard_arrow_right right"></a>
    <div class="jcarousel-pagination"></div>
</div>


<!--<div class="hot-bar-wrap clearfix">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text">Destinations</li>
            <li>
                <a href="#" onclick="return false;">London</a>
            </li>
            <li>
                <a href="#" onclick="return false;">New York</a>
            </li>
            <li>
                <a href="#" onclick="return false;">Paris</a>
            </li>
            <li>
                <a href="#" onclick="return false;">Greece</a>
            </li>
            <li>
                <a href="#" onclick="return false;">Hollywood</a>
            </li>
            <li>
                <a href="#" onclick="return false;">ShangHai</a>
            </li>
            <li>
                <a href="#" onclick="return false;">ChongQing</a>
            </li>
            <li>
                <a href="#" onclick="return false;">Xi'an</a>
            </li>
            <li>
                <a href="#" onclick="return false;">HangZhou</a>
            </li>
            <li>
                <a href="#" onclick="return false;">QingDao</a>
            </li>
            <li>
                <a href="#" onclick="return false;">GuiLing</a>
            </li>
        </ul>
    </div>
</div>-->
<div class="hot-bar-wrap clearfix">
    <div class="top-bar hot-bar clearfix">
        <ul class="dropdown menu index" data-dropdown-menu>
            <li class="menu-text">关键字目录</li>
            <li>
                <a href="#" onclick="return false;">国内游</a>
            </li>
            <li>
                <a href="#" onclick="return false;">儿童油</a>
            </li>
            <li>
                <a href="#" onclick="return false;">干果</a>
            </li>
        </ul>
    </div>
</div>


<div class="row expanded column small-up-1 medium-up-3 large-up-4 xxlarge-up-5 tourboard-wrap" data-equalizer data-equalize-on="medium" data-equalize-by-row="true" id="listEqualizer">
    <div class="column tourboard__title tourboard__title--0">
        <a href="list.html" class="masonry-item masonry-item--index" data-equalizer-watch>
            <h3>我的商品</h3>
            <cite>(25)</cite>
            <i class="material-icons mi-arrow_forward"></i>
        </a>
    </div>
    <div class="column">
        <a href="detail_alt.html" class="masonry-item masonry-item--index" data-equalizer-watch>
            <img src="./assets/img/list/2e788ac5e180bb9ffd10fbaa3e728b57a9cd6dd2.png" />
            <b>
                Tincidunt integer eu
            </b>
            <em>
                <small>STARTS</small>: Tianjin, China<br />
                <small>End in</small>: Paris, France<br />
                <small>Days of Tour</small>: 12 Days
            </em>
            <span><small>from</small> ￥<strong>15678</strong></span>
        </a>
    </div>
    <div class="column">
        <a href="detail_alt.html" class="masonry-item masonry-item--index sale" data-equalizer-watch>
            <img src="./assets/img/list/burberry_children_01.png" />
            <b>
                <em>SALE</em> Tincidunt integer eu augue augue nunc elit dolor luctus placerat
            </b>
            <em>
                <small>STARTS</small>: Tianjin, China<br />
                <small>End in</small>: Paris, France<br />
                <small>Days of Tour</small>: 12 Days
            </em>
            <span><small>from</small> ￥<strong>15678</strong></span>
        </a>
    </div>
    <div class="column">
        <a href="detail_alt.html" class="masonry-item  masonry-item--index" data-equalizer-watch>
            <img src="./assets/img/list/burberry_children_02.png" />
            <b>
                Tincidunt integer eu augue augue nunc elit dolor luctus placerat
            </b>
            <em>
                <small>STARTS</small>: Tianjin, China<br />
                <small>End in</small>: Paris, France<br />
                <small>Days of Tour</small>: 12 Days
            </em>
            <span><small>from</small> ￥<strong>15678</strong></span>
        </a>
    </div>
    <div class="column">
        <a href="detail_alt.html" class="masonry-item masonry-item--index" data-equalizer-watch>
            <img src="./assets/img/list/burberry_children_05.png" />
            <b>
                Tincidunt integer eu augue augue nunc elit dolor luctus placerat
            </b>
            <em>
                <small>STARTS</small>: Tianjin, China<br />
                <small>End in</small>: Paris, France<br />
                <small>Days of Tour</small>: 12 Days
            </em>
            <span><small>from</small> ￥<strong>15678</strong></span>
        </a>
    </div>
    <div class="column">
        <a href="detail_alt.html" class="masonry-item masonry-item--index" data-equalizer-watch>
            <img src="./assets/img/list/glimpese_img0_v2_m56577569830605808[1].jpg" />
            <b>
                Tincidunt integer eu augue augue nunc elit dolor luctus placerat
            </b>
            <em>
                <small>STARTS</small>: Tianjin, China<br />
                <small>End in</small>: Paris, France<br />
                <small>Days of Tour</small>: 12 Days
            </em>
            <span><small>from</small> ￥<strong>15678</strong></span>
        </a>
    </div>
    <div class="column">
        <a href="detail_alt.html" class="masonry-item masonry-item--index" data-equalizer-watch>
            <img src="./assets/img/list/w_catalog_v2_m56577569831969314.jpg" />
            <b>
                Tincidunt integer eu augue augue nunc elit dolor luctus placerat
            </b>
            <em>
                <small>STARTS</small>: Tianjin, China<br />
                <small>End in</small>: Paris, France<br />
                <small>Days of Tour</small>: 12 Days
            </em>
            <span><small>from</small> ￥<strong>15678</strong></span>
        </a>
    </div>
</div>

<div class="row column bottom-search">
    <h3>Got no ideal? Find more here</h3>
    <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
            <!--<a class="button">Primary Action</a>
            <a class="dropdown button arrow-only">
                <span class="show-for-sr">Show menu</span>
            </a>-->
            <input type="submit" class="button" value="Search">
        </div>
    </div>
</div>
<%- include('../layout/footer') -%>