<%- include('../layout/header') -%>
<div class="row expanded column indexTop">
    <h1><b>B2B2C</b>从供应端到渠道到用户的完美产业链条</h1>
    <a href="/signup" class="indexTopBtn"></a>
</div>
<div class="indexText">
    <section>
        <div class="row">
            <div class="large-6 column text-center home_figure home_figure--0">
                <img src="/img/saas_home_item.png" />
            </div>

            <div class="large-6 column">
                <h3>传统旅行社如何布局合理的电商模式各大电商</h3>
                <p>人们的消费习惯越来越多的依赖网络，电商。如何精准把握旅行行业用户消费趋势，在激烈的线上线下竞争中屹立不倒，要转型？不要转型？怎样转型？<br />SaaS应用重新规划您的业务，实践和体验。Saas提供超越同类的服务应用体系，集社交、移动和分析与一体，为您提升客户体验，利用合理的资源快速获取卓越的成效。依赖云，移动、社交、分析，和大数据等决定性因素助力您完美实现企业转型，谋求市场发展</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 large-push-6 column text-center home_figure home_figure--0">
                <img src="/img/saas_home_item_0.png" />
            </div>
            <div class="large-6 large-pull-6 column">
                    <h3>突破传统 打通渠道 为无限极分销量身打造</h3>
                    <p>供应链管理，全程把控，优化购买流程，降低成本并确保产业链关系多方利益，持续推进供应链创新，避免风险。从产品展示到订单收款通过线上线下结合，实现业务流程以及更多业务价值。线上采购分销，财务结算，店铺运营以及社交、移动和最新技术打造富有效率便捷的协作式操作平台。提升团队效率，重构业务流程体系，最优的权限分级并支持所有用户的角色管理。</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 column text-center home_figure home_figure--0">
                <img src="/img/saas_home_item_1.png" />
            </div>

            <div class="large-6 column">
                <h3>数据驱动是企业立于竞争不败之地的法宝</h3>
                <p>数据是推动企业发展获得竞争优势的关键，但许多企业仍然疲于应付无数相对孤立、数量众多并且难以管理的单点解决方案。面向服务，为传统行业数据和大数据提供可靠数据分析。基于成熟的技术和云基础设施，打造一套完整的产品，能够满足您在智能办公、商务合作，大数据运营分析，SaaS 分析等各方面的所有需求。是最全面的云端分析产品，满足您数据收集，存储和分析的需求。以多方交互式保持供需端平衡，实现供应链的快速响应，提升企业业绩。 通过市场检验，呈现可信报告和深入的前瞻预测，提升客户满意度为企业发展提供营销和服务可用数据支撑。安全，稳定，快速，及按需消费模式</p>
            </div>
        </div>
        <div class="row text-center column">
            <a href="signin" class="button large indexBottomBtn">立即免费注册</a>
        </div>
    </section>
</div>
<%- include('../layout/footer') -%>