<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="index.html">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 用户中心 - 用户订单
        </li>
    </ul>
</nav>

<h1 class="row column">用户订单</h1>
<div id="listOrders">
<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th width="150">订单ID</th>
                <th width="150">订单状态</th>
                <th width="150">总价</th>
                <th width="300">订购时间</th>
                <th width="300">支付时间</th>
                <th width="300">操作</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: orders">
            <tr>
                <td data-th="订单ID" data-bind="text:id"></td>
                <td data-th="订单状态" data-bind="text: statusNames[status - 1]"></td>
                <td data-th="总价" data-bind="text: '￥' + total"></td>
                <td data-th="订购时间" data-bind="text: dateOrder"></td>
                <td data-th="支付时间" data-bind="text: datePay">-</td>
                <td data-th="操作">
                    <a href="/order" class="button small">查看</a>
                    <!-- ko if: status == 1 -->
                    <button class="button small">支付</button>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="list-button row column">
    <small>20 Items of 240 Total</small><br>
    <button class="button large btnMore" data-bind="click: more">加载更多</button>
</div>

</div>

<script>
    var orders = <%- JSON.stringify(data) %>;
    var statusNames = ["未支付", "等待收货", "已完成"]
</script>
<%- include('../layout/footer') -%>