<%- include('../layout/header') -%>
<nav aria-label="You are here:" role="navigation" class="clearfix">
    <ul class="breadcrumbs onionLink">
        <li><a href="index.html">首页</a></li>
        <li>
            <span class="show-for-sr">Current: </span> 用户中心 - 用户订单
        </li>
    </ul>
</nav>

<h1 class="row column">用户订单</h1>

<div class="row column">
    <table class="stack stack--small hover listCart tableList">
        <thead>
            <tr>
                <th width="150">订单ID</th>
                <th width="150">订单状态</th>
                <th width="150">总价</th>
                <th width="300">订购时间</th>
                <th width="300">支付时间</th>
                <th width="300">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="订单ID">1255202</td>
                <td data-th="订单状态">未支付</td>
                <td data-th="总价">￥25630</td>
                <td data-th="订购时间">2016-12-25 12:25</td>
                <td data-th="支付时间">-</td>
                <td data-th="操作">
                    <a href="userCPOrderDetail_0_waitingPay.html" class="button small">查看</a>
                    <button class="button small">支付</button>
                </td>
            </tr>
            <tr>
                <td data-th="订单ID">1255202</td>
                <td data-th="订单状态">等待收货</td>
                <td data-th="总价">￥25630</td>
                <td data-th="订购时间">2016-12-25 12:25</td>
                <td data-th="支付时间">2016-12-25 12:25</td>
                <td data-th="操作">
                    <a class="button small" href="userCPOrderDetail_1_waitingDelivery.html">查看</a>
                </td>
            </tr>
            <tr>
                <td data-th="订单ID">1255202</td>
                <td data-th="订单状态">等待旅游</td>
                <td data-th="总价">￥25630</td>
                <td data-th="订购时间">2016-12-25 12:25</td>
                <td data-th="支付时间">2016-12-25 12:25</td>
                <td data-th="操作">
                    <a class="button small" href="userCPOrderDetail_1_waitingDelivery.html">查看</a>
                </td>
            </tr>
            <tr>
                <td data-th="订单ID">1255202</td>
                <td data-th="订单状态">已完成</td>
                <td data-th="总价">￥25630</td>
                <td data-th="订购时间">2016-12-25 12:25</td>
                <td data-th="支付时间">2016-12-25 12:25</td>
                <td data-th="操作">
                    <a class="button small " href="userCPOrderDetail_2_complete.html">查看</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="list-button row column">
    <small>20 Items of 240 Total</small><br>
    <a class="button large btnMore">加载更多</a>
</div>
<%- include('../layout/footer') -%>