    <footer class="footer-global">
        <div class="row helpWay column">
            <div class="medium-6 columns"><i class="material-icons mi-call"></i> <b>400-4688-8999</b></div>
            <div class="medium-6 columns"><i class="material-icons">headset_mic</i> <b>QQ15896750</b></div>
            <!--<div class="medium-4 columns"><a href="#"><i class="material-icons mi-help"></i>  Help Center</a></div>
            <div class="medium-4 columns"><button class="expanded large button"><i class="material-icons mi-headset_mic"></i> Ask a Question</button></div>-->
        </div>
        <div class="row text">
            <a href="aboutus.html">About us</a>
            <a>Terms / Conditions</a>
            <br />2016 &copy; lorem lpsum lorem lpsum lorem lpsum
            <br />Power by <a>61saas.com</a>
        </div>
    </footer>

    <script src="/js/pages/commons.js"></script> 
    <% if (typeof pageJs != "undefined" && pageJs) { %>
    <script src="<%= pageJs %>"></script>
    <% } %>
</body>
