    <footer class="footer-global">
            <div class="row text">
                <!--<a data-toggle="lan-dropdown" onclick="return false;">Language</a>-->
                <br />2016 &copy; lorem lpsum lorem lpsum lorem lpsum
                <br />Power by <a>lysaas.com</a>
            </div>
        </footer>
        <script src="/js/pages/commons.js"></script> 
        <% if (typeof pageJs != "undefined" && pageJs) { %>
        <script src="<%= pageJs %>"></script>
        <% } %>
    </body>
</html>