    <footer class="footer-global">
        <div class="row text">
            <a>关于我们</a>
            <a>常见问题</a>
            <a>联系我们</a>
            <a>服务条款</a>
            <br />2016 &copy; www.lysaas.com<br /><br />
        </div>
    </footer>
    <!--<script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/foundation.min.js"></script>
    <script src="/js/vendors/dropzone.js"></script>
    <script src="/js/vendors/jquery.touchSwipe.min.js"></script>
    <script src="/js/vendors/jquery.calendario.js"></script>-->
    <script src="/js/pages/commons.js"></script>    
    <script src="<%= pageJs %>"></script>
  </body>
</html>