    <footer class="footer-global">
        <div class="row text">
            2016 &copy; 复泰科技电商湾
            <br />Power by <a>dianshangwan.com</a>
        </div>
    </footer>

    <script src="/js/pages/commons.js"></script> 
    <% if (typeof pageJs != "undefined" && pageJs) { %>
    <script src="<%= pageJs %>"></script>
    <% } %>
</body>
